@model EntityLayer.Concrete.Experience
@{
    ViewData["Title"] = "EditExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Deneyim Düzenleme Sayfası</h3>
</div>
@using (Html.BeginForm("EditExperience", "Experience", FormMethod.Post))
{
    @Html.HiddenFor(x=>x.ExperienceID)


    @Html.Label("Deneyim Başlığı")
    @Html.TextBoxFor(x=>x.Name,new{@class="form-control"})
    <br />
    @Html.Label("Tarih Bilgisi")
    @Html.TextBoxFor(x=>x.Date,new{@class="form-control"})
    <br />
    @Html.Label("Resim")
    @Html.TextBoxFor(x=>x.ImageUrl,new{@class="form-control"})
    <br />
    @Html.Label("Açıklama Bilgisi")
    @Html.TextAreaFor(x=>x.Description,10,3,new{@class="form-control"})
    <br />
    <button class="btn btn-success">Kaydet</button>
}


